.idea
.idea/
.python-version
.idea/misc.xml
multicloud_data_catalogue/__pycache__/
multicloud_data_catalogue/providers/__pycache__/
multicloud_data_catalogue/providers/aws_storage/__pycache__/
tests/__pycache__/
dist

# any draw io files
output.*.drawio
